<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="Content-Type" content="text/html"></meta>
  <title>Weather</title>
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-glyphicons.css"></link>
  <link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<div class="container">
  <h1>Weather</h1>
  <select class="custom-select" id="locationName">

  </select>
</div>
</body>
</html>
<script>
    $(document).ready(function(){
    	
    	$.ajax({
    		url:"http://localhost:8080/getLocationName",
   			dataType: "json",
   			type: "GET",
   			success: function(response){
   				$.each(response, function(index,value){
    				$('#locationName').append('<option value="'+value+'">'+value+'</option>');
    			})
    		}
    	})
    	
    });
</script>